.add-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.right-btn{
  position: absolute;
  bottom: 20px;
  right: 60px;
}

textarea:focus{
  outline: none;
}

textarea{
  resize: none;
}















input[type="radio"] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  border-radius: 20px;
  width:90px;
  height: 30px; 
}

.toggle-option {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-btn{
  display: none;
}

.toggle-option-pendding.active{
  background-color: red;
  color: black;
}

.toggle-option-ongoing.active{
  background-color: yellow;
  color:black;
}

.toggle-option-complete.active{
  background-color: green;
  color: #000;
}