:root{
  --red : #e53935;
  --yellow : #FFAB00;
  --green : #36B37E;
  --bg: #aab0c7;
	--text: #000;
  --title:#1a388e;
  --light-blue:#2694fb;
}

.wrapper{
  color: var(--text);
  min-width: 320px;
	min-height: 100vh;
}


.add-btn{
  position: absolute;
  top: 50px;
  right: 110px;
}

.right-btn{
  position: absolute;
  bottom: 85px;
  right: 160px;
}

.close-btn{
  position: absolute;
  bottom: 85px;
  right: 220px;
}

textarea:focus{
  outline: none;
}

textarea{
  resize: none;
}

input[type="radio"] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.toggle-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(165,170,174,0.25);
  border-radius: 20px;
  width: 60px;
  height: 20px; 
}

.toggle-option {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-btn{
  display: none;
}

.toggle-option-pendding.active{
  background-color: var(--red);
  color: black;
}

.toggle-option-ongoing.active{
  background-color: var(--yellow);
  color:black;
}

.toggle-option-complete.active{
  background-color: var(--green);
  color: #000;
}

.task-complete.active{
  opacity: .6;
}

.task-complete-text.active{
  text-decoration: line-through;
}

.pendding-text{
  color: var(--red);
}

.ongoing-text{
  color : var(--yellow);
}

.complete-text{
  color : var(--green);
}

button:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

li{
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.1);
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type="email"]:focus,input[type="password"],input[type="tel"]:focus{
  outline: none;
}

.shadow-contain{
  box-shadow: var(--light-blue) 1px 1px 10px 1px;
}
